:global(.heading) {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  display: block;
  width: 488px;
  margin-bottom: 32px;
  padding: 13px 16px;
}

input:last-of-type {
  margin-bottom: 24px;
}
